* {
    box-sizing: border-box;
}

.areaDeRodape {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 15px;
    background-color: transparent;
}

.rodape {
    position: relative;
    color: white;
    background-color: black;
    text-align:center;
    padding: 10px; 
    margin-left: -15px;
    border: 0;
}


.imgUfo {
    position: relative;
    bottom: -45px;
    transform-style: preserve-3d;
    animation: moveSol 75s linear infinite;
    content: url('/png/mouse_cursor/ufo_padrao.png'); 
}

@keyframes moveSol {
    0% {
        transform: translate(-10px, 0px) scale(0.1);
        content: url('/png/mouse_cursor/ufo_padrao.png');
    }
    25% {
        transform: translate(-5px, -10px) scale(0.5);
        content: url('/png/mouse_cursor/ufo_padrao.png');
    }   
    50% {
        transform: translate(0px, -20px) scale(1);
        content: url('/png/mouse_cursor/ufo_cone.png'); 
    }
    51% {
        transform: translate(0px, -19px) scale(1);
        content: url('/png/mouse_cursor/ufo_padrao.png');
    }
    75% {
        transform: translate(10px, -10px) scale(0.5);
        content: url('/png/mouse_cursor/ufo_padrao.png');
    }
    100% {
        transform: translate(-10px, 0px) scale(0.1);
        content: url('/png/mouse_cursor/ufo_padrao.png');
    }
}

.cosmosLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    font-family: 'Orbitron', sans-serif;
    top: 0;
  }
  
.cosmos {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(135deg, #6b38f8, #00bfff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0 10px #6b38f8, 0 0 20px #00bfff; 
    text-transform: uppercase; 
}
  
.radio {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    left: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #6b38f8, 0 0 10px #00bfff;
    letter-spacing: 5px;
    margin-top: -10px;
}
  